{% extends 'SonataBlockBundle:Block:block_base.html.twig' %}


{% block block %}
<table class="table table-bordered table-striped sonata-ba-list">
    <thead>
        <tr>
            <th colspan="3">
                {% trans from 'ApplicationSonataAdminBundle' %}user.search.block.title{% endtrans %}
            </th>
        </tr>
    </thead>
    
    <tr>
        <td class="sonata-ba-list-label">
            <form name="user-search-block-client" id="user-search-block-client-form" action="{{ path('admin_sonata_user_client_list')}}" method="get" class="user-search-block-form">
                <label for="user-search-block-client-form-field-lastname">{% trans from 'ApplicationSonataAdminBundle' %}user.search.block.client_label{% endtrans %}</label>
                <input type="text" name="filter[username][value]" id="user-search-block-client-form-field-lastname" placeholder="lastname, email, phone" />
                <input type="hidden" name="filter[username][type]" >
                <input type="hidden" name="filter[_page]" id="filter__page" value="1">
                <input type="hidden" name="filter[_sort_by]" value="id">
                <input type="hidden" name="filter[_sort_order]" value="ASC">
            </form>
        </td>
        <td>
            <a href="#" class="btn" id="user-search-block-student-search-submit" onclick="$('#user-search-block-client-form').submit()">
                <i class="icon-search"></i>
                {% trans from 'ApplicationSonataAdminBundle' %}user.search.block.search_button{% endtrans %}
            </a>
        </td>
    </tr>
    
    <tr>
        <td class="sonata-ba-list-label">
            <form name="user-search-block-store-owner" id="user-search-block-store-owner-form" action="{{ path('admin_sonata_user_storeowner_list')}}" method="get" class="user-search-block-form">
                <label for="user-search-block-storeowner-form-field-lastname">{% trans from 'ApplicationSonataAdminBundle' %}user.search.block.storeowner_label{% endtrans %}</label>
                <input type="text" name="filter[username][value]" id="user-search-block-storeowner-form-field-lastname" placeholder="lastname, email, phone"/>
                <input type="hidden" name="filter[username][type]" >
                <input type="hidden" name="filter[_page]" id="filter__page" value="1">
                <input type="hidden" name="filter[_sort_by]" value="id">
                <input type="hidden" name="filter[_sort_order]" value="ASC">
            </form>
        </td>
        <td>
            <a href="#" class="btn" id="user-search-block-student-search-submit" onclick="$('#user-search-block-store-owner-form').submit()">
                <i class="icon-search"></i>
                {% trans from 'ApplicationSonataAdminBundle' %}user.search.block.search_button{% endtrans %}
            </a>
        </td>
    </tr>             
</table>
{% endblock %}
    